
*{
  margin: auto;
}

@media (max-width: 640px){
  body{
    text-align: center;
  }
  Nav{
    flex-direction: column;
  }
  Nav ul{
    flex-direction: column;
  }
  Nav li{
    margin: 0.8em 0;
  }
  Footer{
    flex-direction: column;
  }
  Footer ul{
    flex-direction: column;
  }
  Footer li{
    margin: 0.8em 0;
  }
}

body{
  margin: 20px;
}

Header{
  background-color: aqua;
  color: #fff;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  font-size: 125%;
  display: inline-flex;
}

Nav .navBar{
  background-color: aqua;
  color: #fff;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  font-size: 125%;
}

Nav .navImg{
  background-color: white;
}

Nav .navMenu{
  background-color: Red;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

Nav a{
  text-decoration: none;
  color: black;
  font-weight: 500;
}

Main{
  background-color: aqua;
  color: #fff;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  font-size: 125%;
}

Footer{
  background-color: aqua;
  color: #fff;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  font-size: 125%;
  display: flex;
}


/*
Header{
  background-color: #db56a8;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navBar{
  background-color: aqua;
  display: flex;
}

.navBar .navMenu{
  display: flex;
  list-style: none;
  font-weight: 500;
  background-color: #db56a8;
  gap: 10px;
}

Main {
  display: grid;
  background-color: #61dafb;
  grid-template: "main right" 75rem;
}

Footer {
  display: grid;
  grid-template-columns: none;
  grid-auto-flow: column;
  background-color: rgb(143, 43, 43);
  font-weight: 500;
  grid-template: "footer footer" 12rem;
  align-content: center;
  padding-top: 5%;
}

Footer img{
  padding-top: 5%;
  padding-left: 40%;
}
*/
