
*{
  margin: auto;
}

@media (max-width: 640px){
  body{
    text-align: center;
  }
  Nav{
    flex-direction: column;
  }
  Nav ul{
    flex-direction: column;
  }
  Nav li{
    margin: 0.8em 0;
  }
  Footer{
    flex-direction: column;
  }
  Footer ul{
    flex-direction: column;
  }
  Footer li{
    margin: 0.8em 0;
  }
}

body{
  margin: 20px;
}

Header{
  margin: 10px;
  padding: 1px;
  border-radius: 10px;
  font-size: 125%;
  display: inline-flex;
}

Nav .navBar{
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  font-size: 100%;
}

Nav .navImg{
  margin-right: 3px;
}

Nav .navMenu{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

Nav a{
  text-decoration: none;
  color: black;
  font-weight: 500;
}
/*Nav Ends*/


Main{
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  font-size: 125%;
}



Main .intro{
  background-color: #495E57;
  margin: 0px;
  padding: 0%;
}

Main .intro h1{
  color: #F4CE14;
}

Main .intro h2{
  color: #EDEFEE;
}

Main .intro p{
  color: #EDEFEE;
}

Main .intro button{
  background-color: #F4CE14;
  color: #000000;
  font-weight: bold;
}

Main .testimonies{
  display: flex;
}

Main .cards{
  display: flex;
}
/*MAIN ENDS*/

Footer{
  background-color: #92929211;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  font-size: 125%;
  display: flex;
}

/*
Header{
  background-color: #db56a8;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navBar{
  background-color: aqua;
  display: flex;
}

.navBar .navMenu{
  display: flex;
  list-style: none;
  font-weight: 500;
  background-color: #db56a8;
  gap: 10px;
}

Main {
  display: grid;
  background-color: #61dafb;
  grid-template: "main right" 75rem;
}

Footer {
  display: grid;
  grid-template-columns: none;
  grid-auto-flow: column;
  background-color: rgb(143, 43, 43);
  font-weight: 500;
  grid-template: "footer footer" 12rem;
  align-content: center;
  padding-top: 5%;
}

Footer img{
  padding-top: 5%;
  padding-left: 40%;
}
*/
